h1 {
    color: gray;
    background-color: rgba(200, 200, 211, 0.31);
    text-align: center;
}

body {
    background-color: rgb(200, 200, 200);
}

.one {
    border: 2px solid black;
}

.two {
    border: 5px solid red;
    border-radius: 20px;
}

.three {
    border: 3px solid blue;
    border: dotted;
}